{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div>
        <img src="{% static 'img/adventure-calm-clouds-414171.jpg' %}" class="img-fluid" alt="Responsive image" > 
</div> -->
<div class="container">
        <div class="card" style="max-width:100%;margin-top: 2em; margin-right:8%; margin-left:8%; background-color:#f8f9fa">
                <div class="card-body">
                    <div class="info">
                        <div class="row">
                                <img src="https://sun1-20.userapi.com/c847216/v847216152/18be1b/MaQ797s0nv0.jpg" style="margin-left:1em;  margin-right:0.5em; border-radius: 50%; max-height:100%; max-width:100%; height: 100px;" alt="..." class="img-thumbnail">
                                <div class="inner">
                                        <h5 class="card-title" style="margin-bottom:0em;">Василиса</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" style="margin-top:0.5em;">Хай! Как ты?</h6>
                                </div>
                        </div>
                    </div>

                  <div style="margin-left:0em;"></div>
                  </div>
                </div>
<!-- Second message for example -->
                <div class="card" style="max-width:100%;margin-top: 2em; margin-right:8%; margin-left:8%; background-color:#f8f9fa">
                        <div class="card-body">
                            <div class="info">
                                <div class="row">
                                        <img src="https://sun1-20.userapi.com/c847216/v847216152/18be1b/MaQ797s0nv0.jpg" style="margin-left:1em;  margin-right:0.5em; border-radius: 50%; max-height:100%; max-width:100%; height: 100px;" alt="..." class="img-thumbnail">
                                        <div class="inner">
                                                <h5 class="card-title" style="margin-bottom:0em;">Василиса</h5>
                                                <h6 class="card-subtitle mb-2 text-muted" style="margin-top:0.5em;">Хай! Как ты?</h6>
                                        </div>
                                </div>
                            </div>
        
                          <div style="margin-left:0em;"></div>
                          </div>
                        </div>
</div>
{% endblock %}